@page "/home"
@using SMI.Client.Components
<link rel="stylesheet" href="css/tarjeta.css" />

<div class="container py-4">
    <div class="row mb-4">
        <div class="col-12 text-center">
            <h2 class="titulo-sistema">Sistema Integrado de Medicina</h2>
            <p class="subtitulo-sistema">Seleccione el módulo al que desea acceder</p>
            <div class="separador-sistema"></div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        <div class="col">
            <Tarjeta Titulo="Personas"
                     ImagenUrl="/images/usuario.png"
                     Descripcion="Gestión de personas registradas en el sistema"
                     Ruta="/personas" />
        </div>

        <div class="col">
            <Tarjeta Titulo="Historia Clínica"
                     ImagenUrl="/images/historiaclinica.png"
                     Descripcion="Consulta y registro de historias clínicas"
                     Ruta="/historia-clinica/generales" />
        </div>

        <div class="col">
            <Tarjeta Titulo="Atención Médica"
                     ImagenUrl="/images/atencionmedica.png"
                     Descripcion="Registro de consultas y atenciones médicas"
                     Ruta="/citas" />
        </div>

        <div class="col">
            <Tarjeta Titulo="Nutrición"
                     ImagenUrl="/images/nutricion.png"
                     Descripcion="Evaluación y seguimiento nutricional"
                     Ruta="/nutricion" />
        </div>

        <div class="col">
            <Tarjeta Titulo="Enfermería"
                     ImagenUrl="/images/enfermeria.png"
                     Descripcion="Servicios y procedimientos de enfermería"
                     Ruta="/enfermeria" />
        </div>

        <div class="col">
            <Tarjeta Titulo="Psicología"
                     ImagenUrl="/images/psicologia.png"
                     Descripcion="Consultas y evaluaciones psicológicas"
                     Ruta="/psicologia" />
        </div>

        <div class="col">
            <Tarjeta Titulo="Estimulación Temprana"
                     ImagenUrl="/images/estimulaciontemprana.png"
                     Descripcion="Programas de estimulación infantil"
                     Ruta="/estimulacion-temprana" />
        </div>

        <div class="col">
            <Tarjeta Titulo="Fisioterapia"
                     ImagenUrl="/images/fisioterapia.png"
                     Descripcion="Tratamientos y terapias de rehabilitación"
                     Ruta="/fisioterapia" />
        </div>
    </div>
</div>