@inherits LayoutComponentBase

<div class="grid-container">
    <div class="image-side">
        <!-- Puedes poner una imagen aquí -->
        <img src="/images/fondologin.jpg" alt="Login" />
    </div>
    <div class="content-side">
        @Body
    </div>
</div>